{% load static %}

<!-- ======== feature-section start ======== -->
<section id="features" class="feature-section pt-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single-feature">
                    <div class="icon">
                        <i class="lni lni-pie-chart"></i>
                    </div>
                    <div class="content">
                        <h3>Análisis Financiero Inteligente</h3>
                        <p>
                            Obtén un análisis completo de tus finanzas con herramientas automatizadas que te ayudan a comprender tu situación económica actual y a planificar mejor.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single-feature">
                    <div class="icon">
                        <i class="lni lni-wallet"></i>
                    </div>
                    <div class="content">
                        <h3>Seguimiento de Hábitos de Consumo</h3>
                        <p>
                            Monitoriza tus hábitos de gasto y recibe recomendaciones personalizadas para mejorar tu eficiencia financiera y alcanzar tus metas de ahorro.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single-feature">
                    <div class="icon">
                        <i class="lni lni-bar-chart"></i>
                    </div>
                    <div class="content">
                        <h3>Fácil de Usar</h3>
                        <p>
                            MoneyMind está diseñado para ser intuitivo y accesible, facilitando el control de tus finanzas sin necesidad de conocimientos técnicos avanzados.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======== feature-section end ======== -->