{% load static %}

<!-- ======== hero-section start ======== -->
<section id="home" class="hero-section">
    <div class="container">
        <div class="row align-items-center position-relative">
            <div class="col-lg-6">
                <div class="hero-content">
                    <h1 class="wow fadeInUp" data-wow-delay=".4s">Optimiza tus Finanzas con MoneyMind</h1>
                    <p class="wow fadeInUp" data-wow-delay=".6s">
                        MoneyMind te ofrece un análisis financiero automatizado y seguimiento de hábitos de consumo para ayudarte a tomar decisiones financieras inteligentes y mejorar tu bienestar económico.
                    </p>
                    <a href="javascript:void(0)" class="main-btn border-btn btn-hover wow fadeInUp" data-wow-delay=".6s">Descubre Más</a>
                    <a href="#features" class="scroll-bottom">
                        <i class="lni lni-arrow-down"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-img wow fadeInUp" data-wow-delay=".5s">
                    <img src="{% static 'images/hero/hero-img.png' %}" alt="MoneyMind Hero Image" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======== hero-section end ======== -->