{% load static %}
<!-- ======== feature-section start ======== -->
<section id="why" class="feature-extended-section pt-100">
    <div class="feature-extended-wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-5 col-xl-6 col-lg-8 col-md-9">
                    <div class="section-title text-center mb-60">
                        <h2 class="mb-25 wow fadeInUp" data-wow-delay=".2s">
                            ¿Por qué Elegir MoneyMind?
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay=".4s">
                            MoneyMind es la herramienta integral para optimizar tus finanzas y gestionar tus hábitos de consumo de manera inteligente. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature-extended">
                        <div class="icon">
                            <i class="lni lni-display"></i>
                        </div>
                        <div class="content">
                            <h3>Orientado a Finanzas</h3>
                            <p>
                            Diseñado específicamente para necesidades financieras empresariales y personales, asegurando una experiencia adaptada.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature-extended">
                        <div class="icon">
                            <i class="lni lni-leaf"></i>
                        </div>
                        <div class="content">
                            <h3>Diseño Intuitivo</h3>
                            <p>
                            Interfaz moderna y sencilla, pensada para una navegación fluida y una comprensión rápida de tus finanzas.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature-extended">
                        <div class="icon">
                            <i class="lni lni-grid-alt"></i>
                        </div>
                        <div class="content">
                            <h3>Listo para Usar</h3>
                            <p>
                            Configuración rápida y sin complicaciones para que empieces a gestionar tus finanzas desde el primer día.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature-extended">
                        <div class="icon">
                            <i class="lni lni-javascript"></i>
                        </div>
                        <div class="content">
                            <h3>Algoritmos Eficientes</h3>
                            <p>
                            Utiliza tecnologías avanzadas para el análisis y seguimiento de datos financieros de forma precisa y segura.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature-extended">
                        <div class="icon">
                            <i class="lni lni-layers"></i>
                        </div>
                        <div class="content">
                            <h3>Secciones Esenciales</h3>
                            <p>
                            Organiza y encuentra todo lo que necesitas, desde informes financieros hasta hábitos de consumo, en un solo lugar.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature-extended">
                        <div class="icon">
                            <i class="lni lni-rocket"></i>
                        </div>
                        <div class="content">
                            <h3>Altamente Optimizado</h3>
                            <p>
                            Rápido y eficiente, optimizado para ofrecer un rendimiento superior incluso con grandes volúmenes de datos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======== feature-section end ======== -->