{% load static %}
<!-- ======== services-section start ======== -->
<section id="about" class="about-section pt-150">
    <div id="service" class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="about-content">
                    <div class="section-title mb-30">
                        <h2 class="mb-25 wow fadeInUp" data-wow-delay=".2s">
                            Servicios Especializados para tus Finanzas
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay=".4s">
                            En MoneyMind ofrecemos una variedad de servicios diseñados para cubrir todas tus necesidades financieras, desde el análisis automatizado hasta el seguimiento de tus hábitos de consumo y ahorro.
                        </p>
                    </div>
                    <ul>
                        <li>Acceso rápido y seguro</li>
                        <li>Administración sencilla</li>
                        <li>Soporte disponible 24/7</li>
                        <li>Análisis financiero automatizado</li>
                        <li>Control y seguimiento de hábitos de consumo</li>
                        <li>Recomendaciones de ahorro personal</li>
                    </ul>
                    <a href="javascript:void(0)" class="main-btn btn-hover border-btn wow fadeInUp" data-wow-delay=".6s">
                    Más Información
                    </a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 order-first order-lg-last">
                <div class="about-img-2">
                    <img src="{% static 'images/about/about-2.png' %}" alt="Funcionalidades de MoneyMind" class="w-100" />
                    <img src="{% static 'images/about/about-right-shape.svg' %}" alt="" class="shape shape-1" />
                    <img src="{% static 'images/about/right-dots.svg' %}" alt="" class="shape shape-2" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======== services-section end ======== -->